// height of the row with an avatar
// used also as a line-height
$row-height: 80px;

// colors
$color-white: #fff;
$color-black: #000;
$color-red: red;
$color-red-light: #b94a48;
$color-green: green;
$color-green-light: #468847;
$color-blue-light: #45aeea;
$color-blue-dark:  #034482;
$color-grey-dark: #555;
$color-grey-light1: #f2f2f2;
$color-grey-light2: #e2e2e2;
$color-yellow-light: #fcfce8;
