%div(ng-include="'components/navbar/navbar.html'")

#content-wrapper.container
  #kudos-users-view
    %ul#users-list
      %li.coworker(ng-repeat='user in users' select-user)
        .row.content
          .image-container.pull-left
            %img(src="http://www.gravatar.com/avatar/5240d42ca12b034ce200470b635663f3")
            %span.badge.badge-inverse
              {{ user.kudo_received | map:'value' | sum }}
          %h2.name.pull-left
            {{ user.name }}
          %a.btn.btn-large.btn-primary.btn-more
            %span.glyphicon.glyphicon-chevron-up(ng-show='user.active')
            %span.glyphicon.glyphicon-chevron-down(ng-show='!user.active')
        .row.content-more(ng-show='user.active')
          .col-span-6
            <rating ng-model="rate"></rating>
          .col-span-6
            Current Week
