#dashboard-container.row-fluid
  .content
    %a.avatar.pull-left(href='#/')
      %img(gravatar-src-once="email" gravatar-size="80")
    %a.dashboard-clicable(href='#/comments')
      %p.kudos-left.pull-left
        %span.glyphicon.glyphicon-star.icon-kudo
        %strong
          {{ kudosLeftNum }}
        Left
      %p#kudos-received.pull-right
        %span(trend)
        %strong.last-week
          {{ kudosReceived }}
        %strong.since-bonus
          ({{ kudosTotalReceived }})
