#dashboard-container.row-fluid
  .content
    %a.avatar.pull-left(href='#/')
      %img(src="http://www.gravatar.com/avatar/5240d42ca12b034ce200470b635663f3")
    %a.dashboard-clicable(href='#/comments')
      %p.kudos-left.pull-left
        %span.glyphicon.glyphicon-star.icon-kudo
        %strong
          {{ kudosLeftNum }}
        Left
      %p#kudos-received.pull-right
        %span(ng-class='trendClass')
        %strong.last-week
          {{ kudosReceived }}
        %strong.since-bonus
          ({{ kudosTotalReceived }})
