<h2>{{label}}</h2>
{{#if controller.content}}
<ul>
  {{#each user in controller}}
  <li>
    <img {{bindAttr src="user.gravatar" title="user.name"}} />
  </li>
  {{/each}}
</ul>
{{else}}
<p>{{blankState}}</p>
{{/if}}