<div class="row">
    <div class="col-span-6 comments">
        <h2>My Comments</h2>
        {{#if controllers.myComments}}
            <ul class="comments-list">
            {{#each controllers.myComments}}
                {{view Sks.CommentEntryView}}
            {{/each}}
            </ul>
        {{else}}
            <p>You have received no comments :(</p>
        {{/if}}
    </div>

    <div class="col-span-6 comments">
        <h2>All Comments</h2>
        {{#if controllers.otherComments}}
            <ul class="comments-list">
                {{#each controllers.otherComments}}
                    {{view Sks.CommentEntryView}}
                {{/each}}
            </ul>
        {{else}}
            <p>Whoa! No comments!</p>
        {{/if}}
    </div>
</div>