<h2 class="text-center">Last 50 Comments</h2>

{{#if controller.model}}
<ul class="comments">
  {{#each comment in controller.model}}
  <li class="comment">
    <span class="glyphicon glyphicon-star icon-kudo"></span><b>{{comment.value}}</b>:
    {{comment.comment}}
  </li>
  {{/each}}
</ul>
{{else}}
<p>no comments received</p>
{{/if}}