<div class="span6">
  <h2>Hamsters</h2>
  {{#if controller.content}}
  <ul>
    {{#each user in controller}}
    <img {{bindAttr src="user.gravatar"}} />
    {{/each}}
  </ul>
  {{else}}
  <p>Everyone gave kudos!</p>
  {{/if}}
</div>