<img class="pull-left" {{bindAttr src="user.gravatar"}}  />
<h2 class="pull-left">{{user.firstName}} {{user.lastName}}</h2>
<a href="#" class="btn btn-large btn-primary" {{action "addKudo" user}}><i class="icon-plus"></i></a>
{{#linkTo 'user' user classNames="btn btn-large btn-default"}}...{{/linkTo}}