<ul id="users-list">
{{#each user in controller}}
  <li class="coworker">
    <div class="row">
      {{view Sks.UserInUsersView contentBinding="user"}}
    </div>
  </li>
{{/each}}
</ul>

{{partial stats}}