#kudos-comments-view {
  h2 {
    text-align: center;
  }

  .comments {
    text-align: center;

    .comments-list {
      text-align: left;
    }

    .comment {
      @include stripped-list;
    }
  }
}