#users-list {
    margin: 0;
    list-style: none;
}

#dashboard {
    font-size: 17px;
    height: 80px;
    line-height: 80px;
    background-color: #45aeea;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#dashboard img {
    display: block;
}

#dashboard p {
    margin: 0 20px;
}

#dashboard #flash {
    width: 100%;
    height: 80px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
}

#kudos-content {
    margin-top: 15px;
}

#users-list .coworker, #kudos-user-view .coworker {
    margin-bottom: 15px;
    line-height: 80px;
    position: relative;
}

#users-list .coworker div {
    height: 80px;
    line-height: 80px;
}

#users-list .coworker h2, #kudos-user-view .coworker h2 {
    margin: 0;
    margin-left: 20px;
    line-height: 80px;
    font-size: 18px;
    color: #555;
    font-weight: normal;
}

#users-list .coworker .btn {
    position: absolute;
    top: 25px;
}

#users-list .coworker .btn-default {
    right: 20px;
}

#users-list .coworker .btn-primary {
    right: 70px;
}

#users-list .coworker:nth-child(even) {
    background-color: #f2f2f2;
}

#users-list .coworker:hover {
    background-color: #e2e2e2;
}

#kudos-stats {
    text-align: center;
}

#kudos-user-view .stats ul {
    list-style: none;
    margin: 0;
}

#kudos-user-view .stats .kudo-received {
    padding: 15px;
    font-style: italic;
}

#kudos-user-view .stats .kudo-received:nth-child(even) {
    background-color: #e2e2e2;
}

.icon-kudo {
    color: #034482;
}

@media all {
    body {
        padding: 80px 0 0 0;
    }
}

@media (max-width: 320px) {
    #users-list .coworker h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100px;
    }
}