#users-list {
    margin: 0;
    list-style: none;
}

#dashboard {
    font-size: 17px;
    height: 80px;
    line-height: 80px;
    background-color: #45aeea;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#dashboard img {
    display: block;
}

#dashboard p {
    margin: 0 20px;
}

#dashboard #flash {
    width: 100%;
    height: 80px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
}

#users-list .coworker {
    margin: 15px 0;
    line-height: 80px;
    position: relative;
}

#users-list .coworker div {
    height: 80px;
    line-height: 80px;
}

#users-list .coworker h2 {
    margin: 0;
    margin-left: 20px;
    line-height: 80px;
    font-size: 18px;
    color: #555;
    font-weight: normal;
}

#users-list .coworker .btn {
    position: absolute;
    top: 25px;
    right: 20px;
}

#users-list .coworker:nth-child(even) {
    background-color: #f2f2f2;
}

#users-list .coworker:hover {
    background-color: #e2e2e2;
}

#kudos-stats h2 {
    text-align: center;
}

#kudos-stats .me ul {
    margin: 0 auto;
    list-style: none;
    width: 70%;
}

#kudos-stats .coworkers {
    text-align: center;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.icon-kudo {
    color: #034482;
}

h2 small {
    color: #555;
}

@media all {
    body {
        padding: 80px 0 0 0;
    }
}

@media (max-width: 320px) {
    #users-list .coworker h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100px;
    }
}