@font-face {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    src: url('glyphiconshalflings-regular.eot');
    src: url('glyphiconshalflings-regular.eot?#iefix') format('embedded-opentype'), url('glyphiconshalflings-regular.woff') format('woff'), url('glyphiconshalflings-regular.ttf') format('truetype'), url('glyphiconshalflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

#users-list {
    margin: 0;
    list-style: none;
}

#dashboard {
    width: 100%;
    font-size: 17px;
    height: 80px;
    line-height: 80px;
    background-color: #45aeea;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#dashboard .avatar, #dashboard .avatar img {
    display: block;
}

#dashboard .kudos-left {
    margin-left: 20px;
}

#dashboard #flash {
    width: 100%;
    height: 80px;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    z-index: 20;
}

#dashboard .trend {
    font-style: normal;
}
#dashboard .trend.steady {
    color: #fff;
}

#dashboard .trend.upward {
    color: green;
}

#dashboard .trend.downward {
    color: red;
}

#dashboard .last-comments {
    color: #000;
    text-decoration: none;
}

#dashboard .last-comments:hover {
    color: #fff;
}

#kudos-content #kudos-users-view {
    margin-top: 15px;
}

#users-list .coworker, #kudos-user-view .coworker {
    margin-bottom: 15px;
    line-height: 80px;
    position: relative;
}

#users-list .coworker div {
    height: 80px;
    line-height: 80px;
}

#users-list .coworker .image-container {
    position: relative;
}

#users-list .coworker .image-container .badge {
    position: absolute;
    top: -5px;
    right: -10px;
}

#users-list .coworker h2, #kudos-user-view .coworker h2 {
    margin: 0;
    margin-left: 20px;
    line-height: 27px;
    font-size: 18px;
    color: #555;
    font-weight: normal;
    padding-top: 13px;
}

#users-list .coworker .btn {
    position: absolute;
    top: 18px;
}

#users-list .coworker .btn-default {
    right: 0;
}

#users-list .coworker .btn-primary {
    right: 60px;
}

#users-list .coworker:nth-child(even) {
    background-color: #f2f2f2;
}

#users-list .coworker:hover {
    background-color: #e2e2e2;
}

#kudos-stats {
    text-align: center;
}

#kudos-user-view .coworker {
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 20;
}

#kudos-user-view .coworker-content {
    padding-top: 100px;
}

#kudos-user-view form .control-group {
    margin-bottom: 10px;
}

#kudos-stats ul {
    list-style: none;
    margin: 0 auto;
    width: 240px;
    height: 80px;
}

#kudos-stats ul li {
    float: left;
}

#kudos-user-view .stats ul, #kudos-comments-view .comments {
    list-style: none;
    margin: 0;
}

#kudos-user-view .stats .kudo-received, #kudos-comments-view .comment {
    padding: 15px;
    font-style: italic;
}

#kudos-user-view .stats .kudo-received:nth-child(even), #kudos-comments-view .comment:nth-child(even) {
    background-color: #e2e2e2;
}

#kudos-user-view select, #kudos-user-view textarea {
    width: 100%;
}

#kudos-user-view textarea {
    resize: none;
}

.icon-kudo {
    color: #034482;
}

@media all {
    body {
        padding: 80px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    #users-list .coworker h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100px;
    }
}

@media screen and (max-width: 767px) {
    [class*="col-span-"] {
        padding-right: 0;
        padding-left: 0;
    }
}