@import "variables";
@import "mixins";

#kudos-users-view {
  margin-top: 15px;

  .coworker {
    margin-bottom: 15px;
    padding: 0;
    height: $row-height;
    line-height: $row-height;
    font-style: normal;
    position: relative;

    .image-container {
      position: relative;

      .badge {
        position: absolute;
        top: -5px;
        right: -10px;
        background-color: $color-black;
      }
    }

    .btn {
      position: absolute;
      top: 18px;
    }

    .btn-default {
      right: 0;
    }

    .btn-primary {
      right: 60px;
    }

    @include stripped-list;
  }

  #kudos-stats {
    text-align: center;

    ul {
      list-style: none;
      margin: 0 auto;
      width: 240px;
      height: $row-height;
    }

    li {
      float: left;
      padding: 0;
    }
  }
}