<h2>{{view.label}}</h2>
{{#if controller.content}}
<ul>
  {{#each user in controller.content}}
  <li>
    {{gravatar-image email=user.email}}
  </li>
  {{/each}}
</ul>
{{else}}
<p>{{view.blankState}}</p>
{{/if}}