<div class="col-lg-6">
    <div class="stars" data-initialized="false"></div>
    {{view Ember.TextArea classNames="kudos-comment" placeholder="I’d like to add kudo because…" rows="3"}}
    <a href="#" class="btn btn-large btn-primary" {{action "addKudo" target="view"}}>add</a>
</div>

<div class='col-lg-6'>
    {{view App.UserEntryKudos label='Current Week' kudosBinding=kudoReceiveds}}
    {{view App.UserEntryKudos label='Last Week' kudosBinding=kudoLastWeeks}}
</div>